// variables.less | publicPages.less
@brand-primary:         #363;
@body-bg:               #f6f4ed;

@header-bg: #242;
@header-border: @header-bg;
@header-bg-gradient: linear-gradient(#353, @header-bg);
@header-top-menu-active: #ac3;
@footer-bg:	@header-top-menu-active;
@footer-bg-gradient:	linear-gradient(#274627, @header-top-menu-active);
@footer-link-color:	@body-bg;
@footer-link-hover-color: @body-bg;
@side-menu-active: @header-top-menu-active;

// publicPages.less
@selected-item-bg: @body-bg;
