{% extends "{{school-theme}}/executionCourseManagmentLayout" %}
{% block footer %}
	<footer class="clearfix" role="contentinfo" >
		<div class="col-sm-2 text-center">
			<a class="brand" href="http://www.ulisboa.pt/"><img src="{{contextPath}}/themes/{{school-theme}}/img/ul-banner.png" alt="FenixEdu at {{school-theme}}"></a>
		</div>
		<p class="col-sm-4">
			{{config.applicationCopyright.content}}
		</p>
		<div class="col-sm-2 text-center">
			<img src="{{contextPath}}/themes/{{school-theme}}/img/sama-bw.png" alt="FenixEdu at {{school-theme}}">
		</div>
	</footer>
{% endblock %}
