// variables.less | publicPages.less
@brand-primary:         #3a4149;
@body-bg:               #f6f4ed;

@header-bg: #3a4149;
@header-border: @brand-primary;
@header-bg-gradient: #3a4149;
@header-top-menu-active: #DCBD73;
@footer-bg:	transparent;
@footer-bg-gradient: transparent;
@footer-link-color: @brand-primary;
@footer-link-hover-color: @header-top-menu-active;
@side-menu-active: @header-top-menu-active;

// publicPages.less
@selected-item-bg:	@body-bg;
