.qubSupport .header h3.helpdesk-text-color {
	color : @brand-primary !important;
	&:hover {
		color : darken( @brand-primary, 10%);
	}
}

.qubSupport form button.helpdesk-bg-color {
	background-color : @brand-primary !important;
	&:hover {
		background-color : darken( @brand-primary, 10%);
	}
}

.qubSupport form.helpdesk-border-color {
	border-color : @brand-primary;
}

.qubSupport form.helpdesk-border-color {
	border-color : @brand-primary;
}

.qubSupport form i.helpdesk-text-color {
	color : @brand-primary;
}

